components/org.wso2.carbon.order.mgt.ui/src/main/resources/OrderManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.order.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax298="http://data.mgt.order.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.order.carbon.wso2.org">
    <wsdl:documentation>OrderManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax299="http://data.mgt.order.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.order.carbon.wso2.org">
            <xs:import namespace="http://data.mgt.order.carbon.wso2.org/xsd"/>
            <xs:element name="getAllOrders">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOrdersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax298:Order"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderManagerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OrderManagerException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="order" nillable="true" type="ax298:Order"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.mgt.order.carbon.wso2.org/xsd">
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addOrderRequest">
        <wsdl:part name="parameters" element="ns:addOrder"/>
    </wsdl:message>
    <wsdl:message name="OrderManagerException">
        <wsdl:part name="parameters" element="ns:OrderManagerException"/>
    </wsdl:message>
    <wsdl:message name="getAllOrdersRequest">
        <wsdl:part name="parameters" element="ns:getAllOrders"/>
    </wsdl:message>
    <wsdl:message name="getAllOrdersResponse">
        <wsdl:part name="parameters" element="ns:getAllOrdersResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderManagerPortType">
        <wsdl:operation name="addOrder">
            <wsdl:input message="ns:addOrderRequest" wsaw:Action="urn:addOrder"/>
            <wsdl:fault message="ns:OrderManagerException" name="OrderManagerException" wsaw:Action="urn:addOrderOrderManagerException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllOrders">
            <wsdl:input message="ns:getAllOrdersRequest" wsaw:Action="urn:getAllOrders"/>
            <wsdl:output message="ns:getAllOrdersResponse" wsaw:Action="urn:getAllOrdersResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderManagerSoap11Binding" type="ns:OrderManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOrder">
            <soap:operation soapAction="urn:addOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="OrderManagerException">
                <soap:fault use="literal" name="OrderManagerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOrders">
            <soap:operation soapAction="urn:getAllOrders" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderManagerSoap12Binding" type="ns:OrderManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOrder">
            <soap12:operation soapAction="urn:addOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="OrderManagerException">
                <soap12:fault use="literal" name="OrderManagerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOrders">
            <soap12:operation soapAction="urn:getAllOrders" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderManagerHttpBinding" type="ns:OrderManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addOrder">
            <http:operation location="addOrder"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllOrders">
            <http:operation location="getAllOrders"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderManager">
        <wsdl:port name="OrderManagerHttpsSoap11Endpoint" binding="ns:OrderManagerSoap11Binding">
            <soap:address location="https://10.100.5.49:9443/services/OrderManager.OrderManagerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderManagerHttpsSoap12Endpoint" binding="ns:OrderManagerSoap12Binding">
            <soap12:address location="https://10.100.5.49:9443/services/OrderManager.OrderManagerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderManagerHttpsEndpoint" binding="ns:OrderManagerHttpBinding">
            <http:address location="https://10.100.5.49:9443/services/OrderManager.OrderManagerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>